<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <style>
        {{ css|safe }}
    </style>
</head>
<body style='  min-height: 200%;
   background-image: url("https://j.gifs.com/G65MKL.gif");
'>
    <header>
    {% include 'header.html' %}
    </header>

    <h1 class="animated-text">Bienvenue sur notre site !
        <br><br>
Si vous êtes un grand fan de manga comme moi, vous savez à quel point il est frustrant de naviguer sur des sites qui sont bourrés de publicités, qui sont mal organisés et qui ne se souviennent pas de l'endroit où vous vous êtes arrêté dans votre lecture. J'en avais marre de perdre du temps à chercher les derniers chapitres de mes séries préférées, et j'ai décidé de créer ma propre application pour résoudre ce problème.<br><br>
Avec mon application, j'ai pu rassembler toutes mes séries de manga préférées en un seul endroit et suivre leur progression en toute simplicité. Je peux facilement marquer les chapitres que j'ai déjà lus et reprendre là où je me suis arrêté, sans avoir à chercher à travers des pages de publicités ennuyeuses.<br><br>
L'application est également conçue pour être facile à utiliser et à naviguer, avec une interface utilisateur simple et intuitive. Et le meilleur de tout, il n'y a pas de publicités ennuyeuses pour gâcher l'expérience de lecture.<br><br>
En créant cette application, j'ai pu me libérer de la frustration que j'éprouvais en utilisant d'autres sites et profiter pleinement de ma passion pour les mangas. J'espère que cette application sera également utile pour d'autres fans de manga qui cherchent une expérience de lecture plus agréable et plus pratique.
    </h1>






<script>
    {{ js|safe }}
</script>
</body>
</html>
